.Home {
  padding: 2rem 0;
  background: #f8f8f8;
  min-height: calc(100vh - 50px);
}

.Home .header {
  margin-bottom: 2rem;
}

.Home .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 4rem;
}

.Home .ui.card {
  height: 100%;
}

.Home .ui.image {
  height: 12rem;
}

.Home .ui.image img {
  display: block;
  height: 100%;
  object-fit: cover;
}

.Home .ui.card {
  margin: 0;
}

@media screen and (min-width: 600px) {
  .Home .header {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 590px) {
  .Home .header {
    display: grid;
    grid-gap: 2rem;
  }

  .Home .ui.input {
    width: 100%;
  }
}
